.profile-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

.profile-details {
  width: 85%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.user {
  width: 100%;
  height: fit-content;
  background-color: lightcyan;
  align-self: center;
  padding: 2%;
}

.avatar-img {
  width: 20%;
  height: fit-content;
  border-radius: 50%;
}

.profile {
  width: 100%;
  height: fit-content;
  display: flex;
  background-color: #fff;
  padding: 2%;
  border-radius: 15px;
  justify-content: space-between;
}

.custom-label {
  color: #505887;
  text-shadow: none;
}

.details-col-1,
.details-col-2 {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3%;
}

.custom-input {
  padding: 8px;
  color: #718ebf;
  border-radius: 8px;
  border: 1px solid #505887;
}
