.left-nav-bar {
  width: 15vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
  border-right: 1px solid #d6d4d4;
}

.website-logo {
  width: 100%;
  height: fit-content;
}

.nav-options-list {
  list-style: none;
  display: flex;
  width: 100%;
  padding-left: 0px;
  flex-direction: column;
}

.nav-item {
  width: 100%;
  display: flex;
  padding: 10px;
}

.nav-icon {
  width: 35%;
  color: #58568e;
}

.nav-profile {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: inherit;
}

.profile-icon {
  width: 20%;
  height: fit-content;
}

.name-email {
  width: 70%;
  font-size: x-small;
  padding-left: 5%;
}

.logout-icon {
  width: 10%;
}

.Link-el {
  text-decoration: none !important;
  color: #58568e;
}
