.dashbord-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.dashboard {
  width: 85%;
  height: fit-content;
}

.dashboard-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  border-bottom: 1px solid #d6d4d4;
}

.dashboard-content {
  background-color: #e1edf1;
  width: 100%;
  min-height: 87vh;
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.total-credit-debit-conatainer {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
}

.total-credited,
.total-debited {
  width: 49%;
  height: 100%;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.creditedAmount {
  font-size: 35px;
  font-weight: 600;
  color: #4deda5;
}

.deditedAmount {
  font-size: 35px;
  font-weight: 600;
  color: #ff0000;
}

.span-el {
  color: #718ebf;
}

.last-3-transactions-list {
  width: 100%;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  padding: 2%;
}

.transaction-item {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  align-items: center;
}

.typeIcon-name {
  width: 20%;
  display: flex;
  height: 100%;
}

.up-arrow-icon {
  height: 100%;
  width: fit-content;
  color: rgb(7, 255, 11);
  padding-right: 15px;
}

.down-arrow-icon {
  height: 100%;
  width: fit-content;
  color: red;
  padding-right: 15px;
}

.transaction-category {
  width: 20%;
}

.transaction-date {
  width: 20%;
}

.credited {
  color: #00ff11;
  font-weight: 600;
  width: 20%;
  text-align: center;
}

.debited {
  color: red;
  width: 20%;
  font-weight: 600;
  text-align: center;
}

.delete-icon {
  color: red;
}

.edit-icon {
  color: blue;
}
.hr-el {
  color: gray;
}

.overview-container {
  background-color: #fff;
  padding: 25;
  border-radius: 10px;
}
